/*
 * uForms styles
 *
 * French Violet: #850AE7
 * French Violet Pale: #E8D2FA
 * Han Blue: #4A70D9
 * Han Blue Pale: #DEE5F8
 * Soap: #D8D8E8
 * Black: #222
 * White: #fff
 */
html, body {
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  height: 100%;
  color: #222;
  background: #f2f2fa;

  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 1.8rem;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: #4A70D9;
}

img {
  max-width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  font-weight: 300;
  font-size: 3.2rem;
  width: 6rem;
  border-bottom: 4px solid #222;
  white-space: nowrap;
  margin-top: 0;
}

.btn {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  color: #222;
  background: #D8D8E8;
  border: 2px solid #D8D8E8;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.btn--full-width {
  width: 100%;
}
.btn--primary {
  color: #FFFFFF;
  background: #4A70D9;
  border: 2px solid #4A70D9;
}

.form-input {
  margin-bottom: 1.5rem;
}
.form-input label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-input textarea,
.form-input input[type="text"],
.form-input input[type="password"] {
  background: #F5F6FC;
  border: 1px solid #D8D8E8;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 1.6rem;
  outline: 0;
  width: 100%;
}
.form-input p {
  margin: 0.5rem 0 0;
  font-size: 1.3rem;
}

.alert {
  padding: 1rem;
  border-radius: 0.4rem;
  background: #F5F6FC;
}
.alert--error {
  color: #a94442;
  background: #F2DEDE;
}

/*
 * layout
 */
.page-header,
.page-content,
.page-footer {
  max-width: 110rem;
  margin: 0 auto;

  background: #fff;
  border-left: 1px solid #e2e2ea;
  border-right: 1px solid #e2e2ea;
}
.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #e2e2ea;
}
.page-header h1 {
  font-weight: 300;
  font-size: 3.8rem;
  margin: 0;
  line-height: 7rem;

  float: left;
}
.page-header h1 a {
  color: #222;
  text-decoration: none;
}
.page-header .page-header-navigation {
  float: right;
}
.page-header .page-header-navigation a {
  display: inline-block;
  line-height: 6.8rem;
  margin-left: 1.2rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.page-header .page-header-navigation a:hover {
  border-bottom: 2px solid #4A70D9;
}

.page-content {
  padding: 2.4rem 0;
}

.page-footer {
  border: 1px solid #e2e2ea;
}
.page-footer .container {
  padding: 2.4rem 0;
}

/*
 * auth-page
 */
.auth-page .container {
  max-width: 40rem;
  padding: 9.6rem 0;
}
