/*
 * uForms styles
 *
 * French Violet: #850AE7
 * French Violet Pale: #E8D2FA
 * Han Blue: #357EDD
 * Han Blue Pale: #DEE5F8
 * Soap: #D8D8E8
 * Black: #222
 * White: #fff
 */
html, body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  height: 100%;
  color: #222;
  background: #f2f2fa;

  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: #357EDD;
}

img {
  max-width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  font-weight: 300;
  font-size: 32px;
  width: 60px;
  border-bottom: 4px solid #222;
  white-space: nowrap;
  margin-top: 0;
}

.btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  color: #222;
  background: #f4f4f4;
  border: 2px solid #f4f4f4;
  text-align: center;
  line-height: 1.4;
  display: inline-block;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.btn--full-width {
  width: 100%;
}
.btn--primary {
  color: #FFFFFF;
  background: #357EDD;
  border: 2px solid #357EDD;
}

.form-input {
  margin-bottom: 15px;
}
.form-input label {
  display: block;
  margin-bottom: 5px;
}
.form-input textarea,
.form-input input[type="text"],
.form-input input[type="password"] {
  background: #f4f4f4;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  outline: 0;
  width: 100%;
}
.form-input p {
  margin: 5px 0 0;
  font-size: 13px;
}

.alert {
  padding: 10px;
  border-radius: 4px;
  background: #F5F6FC;
}
.alert--error {
  color: #a94442;
  background: #F2DEDE;
}

/*
 * layout
 */
.page-header,
.page-content,
.page-footer {
  max-width: 1100px;
  margin: 0 auto;

  background: #fff;
  border-left: 1px solid #e2e2ea;
  border-right: 1px solid #e2e2ea;
}
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #e2e2ea;
}
.page-header h1 {
  font-weight: 300;
  font-size: 38px;
  margin: 0;
  line-height: 70px;

  float: left;
}
.page-header h1 a {
  color: #222;
  text-decoration: none;
}
.page-header .page-header-navigation {
  float: right;
}
.page-header .page-header-navigation a {
  display: inline-block;
  line-height: 68px;
  margin-left: 12px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.page-header .page-header-navigation a:hover {
  border-bottom: 2px solid #357EDD;
}

.page-content {
  padding: 24px 0;
}

.page-footer {
  border: 1px solid #e2e2ea;
  font-size: 16px;
}
.page-footer .container {
  padding: 24px 0;
}
.page-footer .page-footer-copy {
  float: left;
}
.page-footer .page-footer-nav {
  float: right;
  text-align: right;
}
.page-footer .page-footer-nav a {
  display: inline-block;
  margin-left: 12px;
  text-decoration: none;
}
.page-footer .page-footer-nav a:hover {
  text-decoration: underline;
}

/*
 * auth-page
 */
.auth-page .container {
  max-width: 400px;
  padding: 96px 0;
}
