{{> header}}

<section class="page-content">
    <div class="container">
        <h1 class="title">Delete account</h1>

        <form method="post" action="/users/destroy" class="tc pv6">
            <p>Are you sure you want to delete you account?</p>
            <p>All your forms and submissions will be deleted, this is nonreversible.</p>
            <button class="btn white bg-dark-red b--dark-red" type="submit">
                Delete it all
            </button>
            <a class="btn" href="/settings">
                Cancel
            </a>
        </form>
    </div>
</section>

{{> footer}}
