{{> header}}

<section class="page-content">
    <div class="container">
        <a href="/forms/{{form.id}}/edit" class="btn btn--primary fr ml2">Settings</a>
        <a href="/" class="btn fr">&larr; Back</a>
        <h1 class="title">
            {{form.name}}
        </h1>

        <h2>Form URL</h2>

        <div class="form-input">
            <input
                type="text"
                value="https://{{app_base_url}}/f/{{form.id}}"
                readonly
                class="code"
                onclick="this.select()"
            >
        </div>

        <h2>Usage</h2>

        <div class="pa3 bg-near-white br2">
            <strong>HTML Form Example</strong>

            <p>
                Sending data to μForms consists in creating an HTML form with the "action"
                attribute set to this form's unique URL. For example:
            </p>

<pre class="pa3 bg-white br2 f5">
&lt;form method=&quot;post&quot; action=&quot;<b>https://{{app_base_url}}/f/{{form.id}}</b>&quot;&gt;
  &lt;input type=&quot;email&quot; name=&quot;<b>email</b>&quot; placeholder=&quot;Your email&quot;&gt;
  &lt;textarea name=&quot;<b>message</b>&quot; placeholder=&quot;Your message&quot;&gt;&lt;/textarea&gt;
  &lt;button type=&quot;submit&quot;&gt;Send&lt;/button&gt;
  &lt;input type=&quot;text&quot; name=&quot;_bot&quot; style=&quot;display:none&quot;&gt;
&lt;/form&gt;
</pre>

            <strong>Advanced features</strong>

            <p>
                By having an input with a "name" attribute set to <code class="code">_next</code>
                you can provide an URL to redirect the user to after the form is submitted. By
                default μForms shows a "Thank You" page.
            </p>

<pre class="pa3 bg-white br2 f5">
&lt;input type=&quot;hidden&quot; name=&quot;<b>_next</b>&quot; value=&quot;<i>https://mysite.com/thank-you</i>&quot;&gt;
</pre>

            <p>
                By having an input with a "name" attribute set to <code class="code">_email</code>
                (or <code class="code">email</code>) you can provide an email address to use as
                "Reply-To" value in the notification email sent to you.
            </p>

<pre class="pa3 bg-white br2 f5">
&lt;input type=&quot;hidden&quot; name=&quot;<b>_email</b>&quot; value=&quot;some dynamic value&quot;&gt;
- or -
&lt;input type=&quot;email&quot; name=&quot;<b>email</b>&quot;&gt;
</pre>
        </div>

        <h2>Submissions</h2>

        {{^submissions}}
            <div class="br2 pv6 tc bg-near-white">
                There are no submissions for this form yet.
                <br>
                <i class="f6">Make sure you installed the form correctly and used the right URL.</i>
            </div>
        {{/submissions}}
    </div>
</section>

{{> footer}}
